#Directory
__pycache__/
build/
dist/
pyinstaller-hooks/
.idea/

#File
*.py[cod]
*.DS_Store

### VirtualEnv ###
.Python
[Bb]in
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv
pip-selfcheck.json

# End of Virtualenv
 
